p
{
	font-size:1rem;
	font-family:"Times New Roman",Georgia,Serif;
	padding:0.2rem;
}

h1
{
	font-size:1.3rem;
	font-family:Arial,Verdana,"Comic Sans MS",Serif;
}

h2, caption
{
	font-size:1.2rem;
	font-family:Arial,Verdana,"Comic Sans MS",Serif;
	text-align:center;
}

h3
{
	font-size:1.1rem;
	font-family:Arial,Verdana,"Comic Sans MS",Serif;
}

a
{
	color:white ;
	background-color:black;
	border:1px red solid;
	font-size:0.9rem;
	font-family:Arial,Verdana,Serif,"Comic Sans MS";
	text-decoration:none;
	padding:0.2rem;
	margin:0px;
}

article a
{
	text-decoration:underline;
	color:red;
	background-color:white;
	border:none;
	font-size:1rem;
	font-family:"Times New Roman",Georgia,Serif;
}

.ligne_titre a
{
	padding:0.2rem;
	margin:0;
	border:1px blue solid;
	background-color:grey;
	color:black;
}

.liste a
{
	font-family:"Times New Roman",Georgia,Serif;
	color:black;
	background-color:white;
	border:1px aqua solid;
	margin:0px;
	padding:0px;
}
.pied_de_page a
{
	color:black;
	background-color:aqua;
	border:1px red solid;
	font-size:0.9rem;
	font-family:Arial,"Comic Sans MS",Verdana, Serif;
	text-align:center;
	padding:0.2rem;
	margin:0px;
}

.barre_titre a
{
	color:black;
	background-color:aqua;
	border:1px red solid;
	font-size:0.8rem;
	text-decoration:none ;
	padding:0.2rem;
	margin:0;
}

#profil a
{
	color:black;
	background-color:aqua;
	border:1px red solid;
	font-size:0.8rem;
	font-family: Times, Arial, Verdana;
	text-decoration:none ;
	padding:0;
	margin:0;
}	

.bouton a
{
	font-size:0.8rem;
	background-color:grey;
	color: white;
	border:1px blue solid;
	padding:0.2;
	text-decoration: none;
}

.miniatures, .liste_horizontale
{
	color : red;
	display : flex;
	flex-direction : row;
	flex-wrap : wrap;
	justify-content : space-between;
	align-items : center;
}
.miniature
{
	display : flex;
	flex-direction : column;
	margin:0.5rem;
}


.date
{
	padding:0.2rem;
}

.g_t
{
	border:1px lime solid;
	border-radius:5px;
	margin:0.5rem;
	padding:0.5rem;
}

.banniere
{
	display:flex;
	justify-content:space-between;
	margin:4px;
}
.menus
{
	display:flex;
	flex-direction : column;
	justify-content:space-between;
}

.menu
{
	display:flex;
	flex-wrap:wrap;
	/*margin:4px;*/
	/*justify-content:flex-end;*/
	/*text-align:center;*/
}

.pied_de_page
{
	display:flex;
	flex-wrap:wrap;
	/*margin:4px;*/
	align-items:center;
}

.menu_principal
{
	display:flex;
	flex-wrap:wrap;
	/*margin:4px;*/
	align-items:flex-start ;
}

.menu h1
{	color:black;
	background-color:yellow;
	border:1px red solid;
	font-size:0.9rem;
	font-family:Arial,"Comic Sans MS",Verdana,Serif;
	text-align:center;
	padding:0.2rem;
	margin:0;
}

.menu_principal h1
{	color:black;
	background-color:yellow;
	border:1px red solid;
	font-size:0.9rem;
	font-family:Arial,Verdana,Serif,"Comic Sans MS";
	text-align:center;
	padding:0.2rem;
	margin:0;
}
.pied_de_page h1
{	color:black;
	background-color:yellow;
	border:1px red solid;
	font-size:0.9rem;
	font-family:Arial,Verdana,Serif,"Comic Sans MS";
	text-align:center;
	padding:0.2rem;
	margin:0;
}
.barre_titre
{
	display:flex;
	justify-content:space-between;
	align-items : center;
	margin:0;
	
}
.ligne_sommaire
{
	display:flex;
	flex-direction : row;
	justify-content:space-between;
	align-items: center;
	margin:0;
	background-color: grey;
	border:1px black solid;
}

.ligne_commentaire
{
	display:flex;
	flex-direction : column;
	border:1px red solid;
	padding:0.2rem;
	margin-bottom: 0.2rem;
	margin-top: 0.2rem;
	overflow:auto;
	word-wrap:break-word;
}

.rectangle
{
	display:flex;
	flex-direction:column;
	justify-content: space-between;
	
}

.commenter, .oubli
{
	color:black;
	background-color:aqua;
	border:1px red solid;
	font-size:0.9rem;
	font-family:Arial,Verdana, Serif,"Comic Sans MS";
	text-align:center;
	padding:0.2rem;
	margin:0px;
}

.ligne_titre
{
	display : flex;
	flex-direction: row;
	justify-content : flex-start;
	align-items:center;
	color : white;
	background-color: grey;
	font-family:Arial,Verdana,"Comic Sans MS",Serif;
	font-size:0.8rem;
	padding:0;
	margin-bottom:0.5rem;
}

.ligne_titre_miniature
{
	display : flex;
	flex-direction: row;
	justify-content : space-between;
	align-items:center;
	color : black;
	background-color: white;
	font-family:Arial,Verdana,"Comic Sans MS",Serif;
	font-size:0.8rem;
}
.ligne_titre p
{
	padding:0.2rem;
	margin:0;
	color:white;
	font-family:Arial,Verdana,Serif,"Comic Sans MS";
	font-size: 0.8rem;
}

.titre_article
{
	font-size:1.2rem;
	text-decoration:none ;
	color:black;
	background-color:white;
	border:1px red solid;
	padding:0.2rem;
	margin-left:0.2rem;
	margin:0.2rem;
}

.nom_auteur
{
	/*display:flex;
	flex-direction : row;
	justify-content: flex-start;*/
	font-family:Arial,Verdana,Serif,"Comic Sans MS";
	font-size: 0.8rem;
	color:lime;
	padding:0.2rem
}

#profil
{
	display:flex;
	flex-direction:column;
	justify-content:center ;
	align-items:center;
}

.bienvenue
{
	background-color:yellow;
	border:1px lime solid;
	padding:0.2rem;
}

.champ
{
	font-family:"Times New Roman",Georgia,Serif;
	color:black;
	background-color:white;
}

.alerte
{
	color:black;
	background-color:orange;

}
footer
{
	display:flex;
	justify-content:center;
}

.boite
{
	display:flex;
}

.horiz
{
	display:flex;
	flex-direction: row;
	justify-content:center;
}

.item
{
	margin:auto;
}

.saisie_samebotte
{
	background-color:yellow;
	border:1px lime solid;
	display:flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items:center;
}

.saisie_samebotte form
{
	font-size:1rem;
	display:flex;
	flex-direction: row;
	margin:0;
	padding:0.2rem;
}

.saisie_samebotte p
{
	font-size:1rem;
	margin:0;
	padding:0.2rem;
}


form, article, section
{
	word-wrap:break-word;
}

form, table, .liste
{
	display:flex;
	flex-direction:column;
	align-items:center;
	overflow:auto;
}

form p
{
	margin:auto;
}

.barre_titre h1
{
	color : blue;
}

.barre_titre p
{
	padding:0.2rem;
}

article h1
{
	color : blue;
}

section h1
{
	color : red;
}

p img
{
    margin: auto;
    border: 1px solid black;
    overflow : auto;
}
.image
{
	/*border: 1px solid black;*/
	margin:0.2rem;
	padding:0;
}


.taille1
{
	/*width:3rem;*/
	overflow:auto;
	word-wrap:break-word;
}

.taille2
{
	/*width:5rem;*/
	overflow:auto;
	word-wrap:break-word;
}

.taille3
{
	/*width:10rem;*/
	overflow:auto;
	word-wrap:break-word;
}

.taille4
{
	/*width:15rem;*/
	overflow:auto;
	word-wrap:break-word;
}

.taille5
{
	/*width:200px;*/
	overflow:auto;
	word-wrap:break-word;
}

.lien
{
	text-decoration:underline;
	color:red;
	background-color:white;
	border:none;
	font-size:1rem;
	font-family:"Times New Roman",Georgia,Serif;
}

.nomDOeuvre
{
	text-decoration:underline;
}

.img[title]
{
	font-size:0.8rem;
	font-family:Arial,Verdana,"Comic Sans MS",Serif;
}


.souligne
{
	text-decoration:underline;
}

.barre
{
	text-decoration:line-through;
}

